<script src="https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hope140/gridea-theme-seeker/assets/styles/waline.min.css">

<div id="waline"></div>
<script>
	Waline.init({
		el: '#waline',
		lang: 'zh-CN',
		pageview: true,
		comment: true,
		serverURL: 'https://discuss.hope140.cc',
		path: window.location.pathname,
		dark: 'auto',
		emoji: [
			'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq'
		],
	});
</script>