<div id="waline"></div>
<script src="https://cdn.jsdelivr.net/npm/@waline/client"></script>
<script>
  Waline({
    el: '#waline',
    lang: 'zh-CN',
    visitor: true,
    serverURL: 'https://discuss.hope140.cc',
  });
</script>